<section id="dashboard">
    <div class="container">
        <div  class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12">
            <h1 class="py-2 my-2">About Our Special Events</h1>
            <div class="card">
                <div class="card-header">
                    <nav>
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#about-hackridea">Hackridea</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#about-fashion-show">Fashion Show</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#about-bob">Battle of Bands</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active container" id="about-hackridea">
                            <h1 class="display-4">Hackridea</h1>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit possimus error, eius asperiores vitae, natus praesentium sunt perspiciatis eos harum, laboriosam suscipit recusandae ipsam alias. Quod voluptate fuga dolorum. Provident!</p>
                            <a href="#!hackridea" class="btn btn-primary">Register</a>
                        </div>
                        <div class="tab-pane container" id="about-fashion-show">
                            <h1 class="display-4">Fashion Show</h1>                            
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni voluptatem a quae laborum, aliquam nemo iure veritatis, eum exercitationem sunt illum recusandae quas impedit, deleniti blanditiis. Nesciunt reiciendis at nisi?</p>
                            <a href="#!fashion" class="btn btn-primary">Register</a>  
                        </div>
                        <div class="tab-pane container" id="about-bob">
                            <h1 class="display-4">Battle of Bands</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi laudantium eligendi esse vero dolorem veritatis in modi, natus nemo veniam, magni et vitae molestias adipisci ad quasi minus deserunt quos?</p>
                            <a href="#!bob" class="btn btn-primary">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>