<section id="dashboard" class="mt-4">
    <div class="container">
        <div class="row">
            <div id="about-hackridea" class="col offset-l3 l9 s12">
                <div class="card">
                    <div class="card-content">
                        <h4 class="flow-text">Hackridea</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit possimus error, eius asperiores vitae, natus praesentium sunt perspiciatis eos harum, laboriosam suscipit recusandae ipsam alias. Quod voluptate fuga dolorum. Provident!</p>
                    </div>
                    <div class="card-action">
                        <a href="#!hackridea" class="btn waves-effect waves-teal">Register</a>
                    </div>
                </div>
            </div>
            <div id="about-fashion-show" class="col l9 s12">
                <div class="card">
                    <div class="card-content">
                        <h4 class="flow-text">Fashion Show</h4>                            
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni voluptatem a quae laborum, aliquam nemo iure veritatis, eum exercitationem sunt illum recusandae quas impedit, deleniti blanditiis. Nesciunt reiciendis at nisi?</p>
                    </div>
                    <div class="card-action">
                        <a href="#!fashion" class="btn waves-effect waves-teal">Register</a> 
                    </div>
                </div>
            </div>
            <div id="about-bob" class="col offset-l3 l9 s12">
                <div class="card">
                    <div class="card-content">
                        <h4 class="flow-text">Battle of Bands</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi laudantium eligendi esse vero dolorem veritatis in modi, natus nemo veniam, magni et vitae molestias adipisci ad quasi minus deserunt quos?</p>
                    </div>
                    <div class="card-action">
                        <a href="#!bob" class="btn waves-effect waves-teal">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>