<section id="fashion">
    <div class="container">
        <!-- cards -->
        <div class="section">
            <h4 class="center-align">Team ID {{ teamID }}</h4>
        </div>
        <div class="divider"></div>
        <!-- <div class="row">
            <div class="col m6 s12 my-2" ng-repeat="x in ParticipantsList">
                <div class="card secondary-color z-depth-3 white-text">
                    <div class="card-content">
                        <span class="card-title center-align">Participant {{ $index + 1 }} details</span>
                        <hr>
                        <h1 class="flow-text">Name: <span ng-bind="x.name"></span></h1>
                        <h1 class="flow-text">PID: <span ng-bind="x.pid"></span></h1>
                    </div>
                </div>
            </div>
        </div> -->
        <table id="report" class="bordered highlight responsive-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>PID</th>
                </tr>
            </thead>
    
            <tbody>
                <tr ng-repeat="x in ParticipantsList">
                    <td>{{ x.name }}</td>
                    <td>{{ x.pid }}</td>
                </tr>
            </tbody>
        </table>

        <div class="row my-2">
            <a href="/report" class="btn" target="_blank">PRINT</a>
        </div>
    </div>
</section>