<section id="hackridea">
    <div class="parallax-container">
        <div class="parallax">
            <h1>Hackridea</h1>
        </div>
    </div>
    <div class="section white">
        <div class="row container">
            <h2 class="header">Hackridea</h2>
            <p class="grey-text text-darken-3 lighten-3">Incridea is bring to you a platform to showcase your technical skills here, come join us.</p>
        </div>
    </div>   
</section>