<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>INCRIDEA 2K18 | Events Registration</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->

    <!-- Material ICON -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/css/boostrap.pm.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- Angular Files -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
</head>

<body ng-controller="rootController">
    <div class="navbar-fixed">
        <nav class="primary-color">
            <div class="nav-wrapper container">
                <a href="#" class="brand-logo">Incridea</a>
                <ul id="nav-mobile" class="hide-on-med-and-down right" ng-show="loggedIn">
                    <li><a href="#!login">Logout</a></li>
                </ul>
            </div>
        </nav>
        <div class="hide-on-med-and-up show-on-medium-and-down">
            <div class="fixed-action-btn" ng-show="loggedIn">
                <a class="btn-floating btn-large primary-color">
                    <i class="large material-icons">menu</i>
                </a>
                <ul>
                    <li>
                        <a href="#!" class="btn-floating green tooltipped" data-position="left" data-delay="50" data-tooltip="Home">
                            <i class="material-icons">home</i>
                        </a>
                    </li>
                    <li>
                        <a href="#!login" class="btn-floating blue tooltipped" data-position="left" data-delay="50" data-tooltip="Logout">
                            <i class="material-icons">lock_open</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Angular dynamic render placeholder -->
    <ng-view></ng-view>

    <!-- Bootstrap JS -->
    <!-- <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script> -->
    <!-- Materialize JS -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <!-- Angular files -->
    <script src="js/app.js"></script>

    <!-- Angular controllers -->
    <script src="js/controller/root.controller.js"></script>
    <script src="js/controller/login.controller.js"></script>
    <script src="js/controller/dashboard.controller.js"></script>
    <script src="js/controller/fashion.controller.js"></script>

    <!-- Angular Services -->
    <script src="js/service/authentication.service.js"></script>
    <script src="js/service/user.service.js"></script>
    <script src="js/service/dashboard.service.js"></script>
    <script src="js/service/details.service.js"></script>
    <script src="js/service/participants.service.js"></script>

    <script>
        $(document).ready(function () {
            $('.parallax').parallax();
            $('.tooltipped').tooltip();
        });
    </script>
</body>

</html>